* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

$page-color: hsl(219, 54%, 73%);

h1 {
  text-align: center;
  padding: 10px;
  margin: 20px 40px;
  background-color: $page-color;
}

#box-containers {
  margin: 5px;
  width: fit-content;
  margin: auto;
  div {
    padding: 30px;
    border: solid black 3px;
    border-radius: 20px;
    box-shadow: $page-color 8px 3px;
    width: 600px;
    min-height: 500px;
    margin-bottom: 20px;
    h2 {
      text-align: center;
    }
    form {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      input,
      button {
        font-size: 24px;
        padding: 10px;
      }
      textarea {
        resize: none;
        min-height: 200px;
        max-height: 300px;
        padding: 10px;
        font-size: 24px;
      }
    }
  }
}
.select-task {
  display: none;
}
.edit-task {
  display: none;
}
.tasks-list {
  max-height: 450px;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 24px;
  li:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
  li:focus {
    background-color: hsl(160, 34%, 47%);
  }
}
.successful-message {
  width: fit-content;
  border: solid 2px black;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: -200px;
  background-color: white;
  transition: all 1s ease-in;
  left: 50%;
}
.aaa {
  top: 0;
}
.navigation-buttons {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  button {
    padding: 10px;
  }
}
